[submodule "TWOAuthKit/Vendor/ASIHTTPRequest"]
	path = TWOAuthKit/Vendor/ASIHTTPRequest
	url = http://github.com/pokeb/asi-http-request.git
[submodule "TWOAuthKit/Vendor/yajl-objc"]
	path = TWOAuthKit/Vendor/yajl-objc
	url = http://github.com/gabriel/yajl-objc.git
[submodule "TWOAuthKit/Vendor/TWToolkit"]
	path = TWOAuthKit/Vendor/TWToolkit
	url = http://github.com/tastefulworks/twtoolkit.git
[submodule "SSOAuthKit/Vendor/SSToolkit"]
	path = SSOAuthKit/Vendor/SSToolkit
	url = http://github.com/samsoffes/sstoolkit.git
