[submodule "SSOAuthKit/Vendor/ASIHTTPRequest"]
	path = SSOAuthKit/Vendor/ASIHTTPRequest
	url = http://github.com/pokeb/asi-http-request.git
[submodule "SSOAuthKit/Vendor/yajl-objc"]
	path = SSOAuthKit/Vendor/yajl-objc
	url = http://github.com/gabriel/yajl-objc.git
[submodule "SSOAuthKit/Vendor/SSToolkit"]
	path = SSOAuthKit/Vendor/SSToolkit
	url = http://github.com/samsoffes/sstoolkit.git
[submodule "SSOAuthKit/Vendor/json-framework"]
	path = SSOAuthKit/Vendor/json-framework
	url = http://github.com/stig/json-framework.git
[submodule "SSOAuthKit/Vendor/JSON"]
	path = SSOAuthKit/Vendor/JSON
	url = http://github.com/samsoffes/json-framework.git
[submodule "SSOAuthKit/Vendor/JSONKit"]
	path = SSOAuthKit/Vendor/JSONKit
	url = git://github.com/johnezang/JSONKit.git
